<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.nexlogica.form.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
    <servlet>
    <servlet-name>formSubmitServlet</servlet-name>
    <servlet-class>com.nexlogica.form.servlet.SubmitForm</servlet-class>
</servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/cola_dhr/greet</url-pattern>
  </servlet-mapping>
  
<servlet-mapping>
  <servlet-name>formSubmitServlet</servlet-name>
  <url-pattern>/cola_dhr/submitform</url-pattern>
</servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>COLA_DHR.html</welcome-file>
  </welcome-file-list>

</web-app>
